body {font-family: 'Dancing Script', cursive;background-image: url("bgMain.jpg");background-position: center center;background-repeat: no-repeat;
background-size: cover;color:white;}
#loginBtn {margin-left:90px;margin-top:10px;background:#bc840b;padding: 0 10px;border-radius:7px;font-size:25px;font-family: 'Dancing Script', Arial;bottom:10px;}
#loginBtn:hover {background: #e0a21d;}
h1 , h2 , p {padding: 10px;}
h1 {font-size: 60px;margin-top: 3px;margin-bottom: 3px;}
h2 {font-size: 50px;margin-top: 3px;margin-bottom: 3px;}
#fromLeft {margin-left: 120px;}
h2 , h3 {margin-left: 100px;}
h3 {font-size: 40px;}
.jumbotron {padding-top:0;padding-bottom:0;}
span {color: white;}
label {font-size: 30px;color: white;}
input {margin-bottom: 10px;font-family: Arial;font-size: 10px;}
#submit {margin-top: 10px;border-radius:8px;margin-left:85px;font-size: 30px;font-family: 'Dancing Script', Arial;background: #cea337;border-color:transparent;}
#submit:hover {background:#efa913;}	 	
#login {display:none;margin-left: 30px;margin-top: 60px;color:white;}
#login label {color:white;}
#signup {margin-left: 30px;margin-top: 60px;}
#switch {font-size:25px;text-decoration: none;font-weight: bold;color:yellow;position: absolute;top: 5px;right: 5px;}
#credit {font-size:12px;font-family: Arial;position: absolute;bottom: 0;right: 5px;margin: 0;padding:0;}